- var teamMembers = ['Iain Usiri', 'Aishwarya Vardhana', 'Alex Rawitz', 'Sierra Kaplan-Nelson']

- var teamMemberPictures = {}
- teamMemberPictures['Iain Usiri'] = "images/iain.jpg"
- teamMemberPictures['Aishwarya Vardhana'] = "images/aishwarya.jpg"
- teamMemberPictures['Alex Rawitz'] = "images/alex.jpg"
- teamMemberPictures['Sierra Kaplan-Nelson'] = "images/sierra.jpg"

- var teamMemberTitles = {}
- teamMemberTitles['Iain Usiri'] = "Founder, CEO"
- teamMemberTitles['Aishwarya Vardhana'] = "Founder, Designer-In-Chief"
- teamMemberTitles['Alex Rawitz'] = "Founder, COO"
- teamMemberTitles['Sierra Kaplan-Nelson'] = "Lead Engineer"

- var teamMemberDescriptions = {}
- teamMemberDescriptions['Iain Usiri'] = "A native of Dar es Salaam, Tanzania, Iain is our CEO. Having coded much of our initial product as a technical CEO, Iain now focuses on devising and implementing Verbatm’s business strategy, along with overseeing team and product dynamics. A former consultant at Deloitte and Copernican Solutions, Iain is an avid soccer fan and enjoys learning about new technologies."
- teamMemberDescriptions['Aishwarya Vardhana'] = "Aishwarya Vardhana, hailing from Portland, Oregon, is our Designer-in-Chief. She specializes in visual and interaction design, has a background in needfinding and human-centered design, and strives to make beautiful products that bring people joy. Aishwarya is a singer (Stanford Talisman), social justice activist and mountain climber; she sometimes does all three simultaneously."
- teamMemberDescriptions['Alex Rawitz'] = "A born and raised New Yorker, Alex Rawitz is our COO and user acquisition specialist. In addition to coordinating the team’s marketing and social media while coordinating the corporation's financial and legal matters, Alex also manages Verbatm’s growth strategy. In his spare time, Alex enjoys NBA basketball, all things book-related, and cooking."
- teamMemberDescriptions['Sierra Kaplan-Nelson'] = "Sierra Kaplan-Nelson, a proud Seattleite, joined the team in June as our Lead Engineer. A CS section leader and former Google intern, Sierra is managing the app’s technical development. Sierra is a social justice activist and an engaged member of the Stanford NAACP, as well as a world-traveler who recently spent four months in Jordan. Sierra is a fan of alpine climbing, languages, and Lord of the Rings."

- var teamMemberLinkedInProfiles = {}
- teamMemberLinkedInProfiles['Iain Usiri'] = "https://tz.linkedin.com/pub/iain-usiri/73/716/782"
- teamMemberLinkedInProfiles['Aishwarya Vardhana'] = "https://www.linkedin.com/pub/aishwarya-vardhana/84/bba/a13"
- teamMemberLinkedInProfiles['Alex Rawitz'] = "https://www.linkedin.com/pub/alex-rawitz/b2/353/1a8"
- teamMemberLinkedInProfiles['Sierra Kaplan-Nelson'] = "https://www.linkedin.com/in/sierrakaplannelson"

div(class="main_content main_content_wide")
	div(class="inner_container team_section")
		.section_text
			strong.main_text
				span.underlined_text The Team 
			<br><br><br><br>
			ul#team_list
				each teamMember in teamMembers
					li
						.team_member
							img.team_member_picture(src=teamMemberPictures[teamMember])
							<br>
							span.team_member_name=teamMember
							script(src="//platform.linkedin.com/in.js", type="text/javascript")
							script(type="IN/MemberProfile", data-id=teamMemberLinkedInProfiles[teamMember], data-format="hover", data-related="false")
							<br>
							span.team_member_title=teamMemberTitles[teamMember]
							<br>
							.team_member_description
								span=teamMemberDescriptions[teamMember]
